
/* Titulos */
legend.titulo {
    padding-top: 20px;
}


.InputCantidad {
    display: inline-block !important;
    width: 100px !important;
}

.cabecera_dark {
    color: #fff;
    background-color: #222;
}

.cabecera_dark th {
    font-weight: normal;
}

.body_carrito tr {
    border: 0.5px solid #ccc;
}

.contenido_formulario {
    padding: 30px;
    padding-bottom: 100px;
    margin-bottom: 200px;
}

.contenedor_facturacion {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

#footer {
    margin-top: 200px;
}

.status_rojo {
    color: red;
}

.status_verde {
    color: green;
}